@model Libras.Models.Libra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearEditar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="IdLibra" />
                <label asp-for="ValorLibra" class="control-label"></label>
                <input asp-for="ValorLibra" class="form-control" />
                <span asp-validation-for="ValorLibra" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
