<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImportacionesDC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css"/>
    <link rel="stylesheet" href="~/css/menu.css" />
</head>
<body>
    <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <a class="text-light font-weight-bold" asp-area="" asp-controller="Cliente" asp-action="Index">ImportacionesDC</a>
            </div>
            <div class="menu">
                <a class="d-block text-light p-3 " asp-area="" asp-controller="Cliente" asp-action="Index"><i class="far fa-user p-2 lead"></i>Clientes</a>
                <a class="d-block text-light p-3" asp-area="" asp-controller="Paquete" asp-action="Index"><i class="far fa-archive p-2 lead"></i>Paquetes</a>
                <a class="d-block text-light p-3" asp-area="" asp-controller="Libras" asp-action="Index"><i class="far fa-archive p-2 lead"></i>Valor Libra</a>
                <a class="d-block text-light p-3" asp-area="" asp-controller="Estados" asp-action="Index"><i class="far fa-archive p-2 lead"></i>Estados</a>
                <a class="d-block text-light p-3 " asp-area="" asp-controller="TipoMercancias" asp-action="Index"><i class="far fa-user p-2 lead"></i>Tipo Mercancia</a>
                <a class="d-block text-light p-3" asp-area="" asp-controller="Transportadoras" asp-action="Index"><i class="far fa-archive p-2 lead"></i>Transportadoras</a>
            </div>
        </div>
        <div id="contenido" class="col-md-10">
            <section class="align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ImportacionesDC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
